---
---
.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px;
}

.jumbotron {
  text-align: center;
}

.content {
  padding-top: 2em;
}
.logo {
  text-indent: -9999px;
}

.body {
  width: 100;
  overflow-x: hidden;
}
footer {
  margin-top: 50px;
  border-top: 1px solid #afafaf;
  padding: 15px;
}
