---
---
$color-initial: #fffeff !default;
$color-primary: #E29400 !default;
$color-secondary: #910e63 !default;
$color-tertiary: #9B4DCA !default;
$color-quaternary: #f8f2f2 !default;
$color-hover: #606c76 !default;
$color-quinary: #e1e1e1 !default;
$text_color: #4f4f4f !default;
$nav: #fdfdfd;

html, body, h1, h2, h3, h4, h5, a, p, span {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;

}

html, p {
  color: $text_color;
}

a {
  color: darken($color-secondary, 0%);
  text-decoration: none;
  font-size: 1.8rem;
}
a:hover {
  color: lighten($color-secondary, 10%);
}

.navigation {
  background-color: $nav;
  border-bottom: .1rem solid $color-quaternary;
  display: block;
  height: 5.2rem;
  max-width: 100%;
  //position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;


  .navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-right: 5.0rem;
    @media (min-width: 80.0rem) {
      margin-right: 0;
    }

  }
  .navigation-item {
    display: inline;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
  }
  .img {
    fill: $color-primary;
    height: 2.0rem;
    position: relative;
    top: .3rem;
  }
  .title  .navigation-title {
    color: $color-secondary;
    display: inline;
    font-size: 0.2rem;
    line-height: 5.2rem;
    padding: 0;
    position: relative;
    text-decoration: none;
  }
  .navigation-link {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
    &.active {
      color: $color-secondary
    }
  }
}
span.title {
  color: darken($color-secondary, 15%);
  display: inline;
  line-height: 5.2rem;
  padding: 0;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}

.content {
  padding-top: 10rem;
}

.logo {
  text-indent: -9999px;
}

.body {
  width: 100;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

footer {
  padding-top: 0.5rem;
  background-color: $nav;
  border-top: .1rem solid $color-quaternary;
  color: #4f4f4f;
  margin-bottom: 0.5rem;

  font-size: 1.3rem;
  a {
    font-size: 1.4rem;
  }
}

.note {
  color: #EF3633;
}

p {
  font-size: 1.7rem;
}

.post {
  height: 50em;
}
