<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

    <meta name="theme-color" content="{{site.them_color}}">

    <link href="/articles/atom.xml" rel="alternate" title="{{project_name}}’s feed" type="application/atom+xml" />

    <meta name="author" content="Sameer Rahmani" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.homepage }}{{ page.url }}" />
    {% if page.categories contains 'blog' %}
    <meta property="og:type" content="article" />

    <meta property="article:published_time" content='{{ page.date | date: "%Y-%m-%d" }}' />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}" />
    <meta name="twitter:description" content="{{ page.summary }}" />
    {% endif %}

    <meta property="og:site_name" content="{{ site.homepage }}" />
    {% if site.facebook_link %}
    <meta property="article:author" content="https://www.facebook.com/{{site.facebook_link}}" />
    <meta property="profile:first_name" content="Sameer" />
    <meta property="profile:last_name" content="Rahmani" />
    <meta property="profile:username" content="lxsameer" />
    <meta property="profile:gender" content="male" />
    {% endif %}

    <meta name="twitter:creator" content="@lxsameer" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
  </head>
  <body>

    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <div class="row">
            <div class="column">
              <ul class="navigation-list">
                <li class="navigation-item">
                  <a class="navigation-link" href="/">
                    <span class="title">HellHound</span>
                  </a>
                </li>

                <li class="navigation-item">
                  <a class="navigation-link" href="//blog.codamic.tech">
                    Blog
                  </a>
                </li>

                <li class="navigation-item">
                  <a class="navigation-link" href="http://docs.hellhound.io/guides/">
                  Guides
                </a>
              </li>
              <li class="navigation-item">
                <a class="navigation-link" href="http://docs.hellhound.io/api/">
                  API
                </a>
              </li>
              <li class="navigation-item">
                <a class="navigation-link" href="/code">
                  Code
                </a>
              </li>
              <li class="navigation-item">
                <a class="navigation-link" href="http://webchat.freenode.net/?channels=hellhound&uio=d4">
                  Ask for help
                </a>
              </li>
              </ul>
            </div>
          </div>
        </section>
      </nav>
      <section class="container">
        {% if page.hero %}
        <section class="content">
          <div class="row">
            <div class="text-center column">
              <img src='/assets/logo.png' />
              <br/><br/>
              <p>
                Build simple, performant and scalable applications at ease.
              </p>
              <a class="button" href="http://docs.hellhound.io/guides#_getting_started" target="_blank">
                Getting Started
              </a>
            </div>
          </div>
        </section>
        {% endif %}

        {% if page.warning %}
        <section class="content">
          <div class="row">
            <div class="offset-by-two columns eight">
              <h5 class="note">
                <i class="fa fa-warning"></i>
                IMPORTANT NOTE!
              </h5>
              <p>
                This software is in Alpha stage. It’s under heavy development and reaches the beta stage pretty soon. If you like to be part of this process please leave <a href="//github.com/lxsameer"><u>me</u></a> a message.
              </p>
            </div>
          </div>
        </section>
        {% endif %}


        <section class="content">
          <div class="row">
            <div class="offset-by-two columns eight">
              {{ content }}
            </div>
          </div>
        </section>

        <br /><br />
        <section class="">
          <div class="row">
            <div class="column text-center">
              <p>
                Keep up to date with
                <a href="https://twitter.com/HellHound_IO">
                  HellHound on Twitter
                </a>
                .
              </p>

            </div>
          </div>
        </section>
      </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="six columns">
            Copyright © 2016-2018 <a href="//codamic.tech">Codamic Technologies</a>.
          </div>
          <div class="six columns text-right">
            Distributed under the <a href="https://mit-license.org/">MIT License</a>.
          </div>
        </div>
      </div>
    </footer>

    </main>
  </body>
</html>
